@import "bourbon";
@import "neat";
@import "font-awesome";

$bg: #5E7686;
$navbg: #729DA9;
$grey: #213C3F;
$boxfill: #B8AF9E;
$boxborder: 2px solid $grey;


body {
  background: $bg;
}

.banner {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
  width: 100%;
  margin: 0;
}

.hidden {
  display: none;
}

.wrapper {
  width: 100%;
}

.wrap {
  width: 100%;
}

button {
  border-radius: 5px;
  border: 2px solid $grey;
  padding: 6px 15px 6px 15px;
}

.navbar {
  background-color: $bg;
  border-top: 2px solid $grey;
  border-bottom: 2px solid $grey;
  width: 100%;
  height: 50px;
  position: relative;

  button {
    position: absolute;
    top: 6px;
  }

  .homenav {
    left: 20%;
  }

  .logoutnav {
    right: 20%;
  }

}

.login {
  background-image: url('../images/flash-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  margin: 10px auto;
  height: 766px;
  max-width: 500px;
  position: relative;

  .field {
    position: absolute;
    left: 25%;
  }

  .username {
    bottom: 200px;
    border-radius: 5px;
    line-height: 2em;
    width: 50%;
  }

  .password {
    bottom: 135px;
    border-radius: 5px;
    line-height: 2em;
    width: 50%;
  }

  .button {
    position: absolute;
    bottom: 90px;
    width: 20%;
  }

  .logBtn {
    left: 25%;
  }

  .regBtn {
    left: 55%;
  }
}

.form {
 width: 30%;
 border: $boxborder;
 border-radius: 5px;
 background-color: $boxfill;
 padding: 10px;
}

.deckwrapper {
  width: 100%;
  padding: 50px;

  .deckThumbList {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    .deckThumb {
      display: inline-block;
      border: $boxborder;
      background-repeat: no-repeat;
      background-color: $boxfill;
      border-radius: 5px;
      margin: 5px 2% 5px 2%;
      width: 150px;
      height: 150px;
      overflow: hidden;
    }
  }
}

.addDeckContainer {
  width: 100%;

  .addDeck {
    margin: 15px auto;

    form {
      margin: 10px auto;
      width: 100%;

      input {
        line-height: 1.4em;
        width: 80%;
        margin: 5px auto;
      }
    }
  }
}

.deckViewContainer {
  width: 100%;
  padding-top: 15px;

  .data {
    width: 70%;
    margin: 0 auto;

    .cardContainer {
      display: inline-block;
      background-color: $boxfill;
      width: 200px;
      height: 250px;
      border: $boxborder;
      border-radius: 5px;
      margin: 5px 2% 5px 2%;
      position: relative;

      div {
        position: absolute;
        margin-left: 1%;
        margin-right: 1%;
      }
      .quest {
        top: 2px;
      }
      .ans {
        bottom: 0;
      }
    }
  }

  .btns {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    button {
      width: 20%;
      margin-left: 10%;
    }
  }
}

.cardWrap {
  width: 100%;

  .addCard {
    margin: 0 auto;

    .addForm {
      margin-left: 10px;
      margin-right: 10px;
      width: 100%;

      input {
        line-height: 1.4em;
        width: 80%;
        margin: 5px auto;
      }
    }
  }
}



.registerWrap {
  width: 100%;

  .signup {
    width: 50%;
    height: 400px;
    border: $boxborder;
    border-radius: 5px;
    background-color: $boxfill;
    margin: 0 auto;
    padding: 20px 0 0 5%;

    form {
      margin-left: auto;
      position: relative;

      button {
      }
    }
  }

  .regfield {
    display: inline-block;
    margin: 5px auto 5px auto;
    width: 100%;

    .span {
      width: 200px;
      display: inline-block;
    }

    input {
      line-height: 1.4em;
      width: 50%;
    }
  }
}